body {
    font-family: Tahoma, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#cuentaAtras {
    font-size: 3rem; /* Aumentamos el tamaño a 3 rem */
    color: #ff0000;
}

#fechaFinal {
  font-size: 1.2 rem;
  color: #eb0eca;
}
